.aside {
  position: relative;
}

.asideIcon {
  display: none;
}

.irImgContainerDisplaySmall {
  position: relative;
  text-align: center;
  width: 100%;
  .irImgContainerInnerWrapper {
    display: block;
    margin: 0 auto;
    max-width: 453px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-flex-pack: center;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    align-items: center;
    -ms-flex-align: center;
    img {
      max-width: 720px;
      min-height: 200px;
      height: calc((100vh - 125px));
      width: auto;
      max-height: 500px;
    }
  }
}

.irLabel {
  font-size: 1.375rem;
  line-height: 28px;
  margin: 24px 0 8px;
  text-align: center;
}

.irImgContainerDisplayLarge {
  display: none;
}

.irhealthLabels {
  min-height: 32px;
  .irhealthLabelsInner {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -ms-flex-pack: center;
    font-size: 16px;
    font-size: 1rem;
    flex-wrap: wrap;
    p {
      display: inline-block;
      color: #ff7e1a;
      span {
        color: #b3b3b3;
        padding: 0 4px;
      }
    }
  }
}

.irSource {
  margin: 0 0.5rem 0.5rem 60px;
  min-width: 270px;
  position: relative;
  width: 78%;
  color: #808080;
  a {
    color: #2d2d2d;
  }
}

.irSectionHeader {
  padding: 0.8rem 1% 0.5rem;
  min-height: 58px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 95%;
  border-bottom: 1px solid #e6e6e6;
  clear: both;
  color: #4d4d4d;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.irIngredients p {
  color: #2d2d2d;
  font-size: 16px;
  display: inline-block;
  margin: 0;
  padding: 0.35rem 2%;
  position: relative;
  margin-left: 1.2rem;
}

.irDirections {
  p {
    padding: 0.35rem 2%;
    margin-left: 1.2rem;
    line-height: 50px;
  }
  .button {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 51px;
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
    color: #fff;
    min-width: 70px !important;
    left: 65px;
    background: #feaa26;
    height: 50px;
    text-align: center;
    width: 124px !important;
    border: none;
  }
  .button:hover {
    background: #ed9702;
  }
  .gray {
    color: #808080;
  }
  .link {
    color: #2d2d2d;
  }
  .link:hover {
    text-decoration: underline;
  }
}

.tnDiv p {
  color: #2d2d2d;
  font-size: 16px;
  margin: 0;
  padding: 0.35rem 2%;
  margin-left: 1.2rem;
}

.nutrientColumnTotal {
  padding: 0px 10px;
  text-align: right;
  float: right;
}

.nutrientColumnPercent {
  width: 56px;
  text-align: right;
  color: #666;
  float: right;
}

.nutrientRow {
  color: #2d2d2d;
  font-size: 16px;
  padding: 0.35rem 2%;
  margin: 0 1.2rem;
}

.irNutrition {
  .iconOuter {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    position: absolute;
    right: 3%;
    top: 0px;
  }
  .servingIcon {
    right: calc((87px + 3%));
  }
  .iconInner {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
  }
  .recipeIconsDiv {
    font-size: 0.875rem;
    color: #4d4d4d;
    float: right;
    font-weight: normal;
    white-space: nowrap;
    position: relative;
    margin-top: 4px;
  }
  .iconScale {
    -ms-transform: scale(0.75, 0.75);
    transform: scale(0.75, 0.75);
    margin-left: -5px;
    -ms-transform: scale(0.75, 0.75);
    transform: scale(0.75, 0.75);
    margin-left: -5px;
    width: 46px;
    height: 46px;
  }
}

.aside,
.ingredsSpan,
.calsSpan {
  display: none;
}

.aside .asideIcon {
  position: fixed;
  cursor: pointer;
  bottom: 15px;
  z-index: 1;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid transparent;
  display: block;
}

.asideIcon:hover {
  background: #fff;
}

.iconChevronDown {
  right: 12px;
}

.asideIcon::before {
  border-style: solid;
  color: rgba(254, 170, 38, 0.5);
  content: '';
  display: inline-block;
  position: relative;
  height: 12.5px;
  width: 12.5px;
  border-width: 4px 4px 0 0;
  vertical-align: calc((-50% - 2px));
}

.iconChevronDown::before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 0;
  left: 12px;
}

.iconChevronUp::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
  left: 12px;
}

@media only screen and (max-width: 380px) {
  .hideMobile {
    display: none;
  }
  .irNutrition .servingIcon {
    right: calc((62px + 3%));
  }
}

@media only screen and (max-width: 450px) {
  .irImgContainerDisplaySmall .irImgContainerInnerWrapper img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 451px) {
}

@media only screen and (min-width: 500px) {
  .irImgContainerDisplaySmall .irImgContainerInnerWrapper img {
    border: 1px solid #fafafa;
  }
  .irImgContainerDisplaySmall {
    margin-top: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .irImgContainerDisplaySmall {
    display: block;
  }
  .hideSmall {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .hideBig {
    display: none;
  }
  .irNutrition {
    width: 49%;
    display: inline-block;
  }
  .recipeColumn {
    float: left;
    width: 49%;
  }
}

@media only screen and (max-width: 1023px) {
  .irImgContainerDisplaySmall {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .irImgContainerDisplayLarge {
    display: none;
  }
  .irMain {
    width: 69%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
  }
  .aside {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border-left: 1px solid #e6e6e6;
    height: 1335px;
    .individualRecipeOuter {
      margin-left: 2.5%;
      margin-right: calc((2.5% - 9px));
      width: 100%;
      height: calc((100%)) !important;
      overflow-y: scroll !important;
      padding-right: 17px;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      scroll-behavior: smooth;
      .recipesSection {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        .outer {
          margin: 0 0 20px;
          width: calc((100% - 9px));
          margin-right: 9px;
          height: auto;
          padding-bottom: 28px;
          .cardImageContainer {
            width: 100%;
            .cardImage {
              height: auto;
              width: 100%;
            }
          }
          .likeButton {
            -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
            right: -10px;
            top: -10px;
          }
          .cardInfo {
            width: 100%;
            .cardTitle {
              position: relative;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              line-height: 17px;
              height: 34px;
              margin-bottom: 3px;
              padding-bottom: 0;
              padding-right: 8px;
            }
            .calsAndIngreds {
              margin: 10px 0;
              padding: 2px 0 0 8px;
            }
            .healthLabels {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
              line-height: 13px;
              height: 39px;
              padding-right: 8px;
            }
            .ingredsSpan,
            .calsSpan {
              display: inline-block;
            }
            .ingredientsSpan,
            .caloriesSpan {
              display: none;
            }
          }
        }
        .outer:nth-last-child(2),
        .outer:nth-last-child(1) {
          margin-bottom: 90px;
        }
      }
    }
  }
}

.pageBottom .aside {
  .asideIcon {
    position: absolute;
    bottom: 0;
  }
  .iconChevronDown {
    right: 0;
  }
}
