.homepageRecipesOuter,
.recipesOuter {
  margin-top: 20px;
}

@media only screen and (min-width: 410px) {
  .homepageRecipesOuter,
  .recipesOuter {
    margin-right: 15px;
    .recipesSection {
      grid-template-columns: repeat(2, 1fr);
      height: auto;
      width: 100%;
      display: grid;
      grid-auto-flow: dense;
      margin: 0 auto;
      .outer {
        margin: 0 0 20px;
        width: calc((100% - 15px));
        margin-left: 15px;
        height: auto;
        padding-bottom: 28px;
        .cardImageContainer {
          width: 100%;
          .cardImage {
            height: auto;
            width: 100%;
          }
        }
      }
      .calsSpan,
      .ingredsSpan {
        display: inline-block;
      }
      .ingredientsSpan,
      .caloriesSpan {
        display: none;
      }
      .likeButton {
        -webkit-transform: scale(0.75, 0.75);
        transform: scale(0.75, 0.75);
        right: 0px;
        top: 0px;
      }
    }
  }
}

@media only screen and (min-width: 656px) {
  .homepageRecipesOuter,
  .recipesOuter {
    margin-right: 5vw;
    margin-top: 5vw;
    .recipesSection {
      grid-template-columns: repeat(3, 1fr);
      .outer {
        margin: 0 0 5vw;
        width: calc((100% - 5vw));
        margin-left: 5vw;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .homepageRecipesOuter,
  .recipesOuter {
    margin-top: 30px;
    .recipesSection {
      .calsSpan,
      .ingredsSpan {
        display: none;
      }
      .ingredientsSpan,
      .caloriesSpan {
        display: inline-block;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .homepageRecipesOuter,
  .recipesOuter {
    .recipesSection {
      grid-template-columns: repeat(4, 1fr);
      .likeButton {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        right: 14px;
        top: 14px;
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .subItemIcon {
    display: none;
  }
}

@media only screen and (min-width: 1900px) {
  .homepageRecipesOuter,
  .recipesOuter {
    .recipesSection {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
